<div class='container'>
<h3 class='page-header'>Live Calls</h3>
<div id="test"></div>
<br>
<h3 class='page-header'>
    Call History
    <button class="btn btn-sm btn-primary pull-right" id='button'>Show/Hide </button>
</h3>
<div id="history" class='scroll-box'></div>
</div>

<script> 
$( "#button" ).click(function() {
    $( "#history" ).toggle();
});

Interval = setInterval(function(){get_info();}, 1000);

function get_info(){
    show_history_calls();
    show_live_calls();
    setStatus();
    setNumberFormat();
}

function show_live_calls(){
    var calling_data = $.ajax({
        type: "get",
        url: "/calling_info_callback",
        async: false,
    }).responseText;
    var obj = JSON.parse(calling_data);
    var out = "<table class='table-responsive table table-striped history-table'>" + 
        "<thead><tr><th>Caller Number</th><th>Name</th><th>Time</th><th>Ringing Number</th><th>Status</th>" + 
        "<th>timer</th></tr></thead>";
    out += "<tbody>";
    $.each(obj, function (key, data) {
        out += "<tr>";
        out += "<td class='number'>" + data.Caller + "</td>";
        out += "<td>" + data.name + "</td>"
        out += "<td>" + timeFormat(new Date(data.time * 1000)) + "</td>";
        out += "<td class='number'>" + data.calling_number + "</td>"
        out += "<td class='status'>" + data.status + "</td>"
        
        if (data.status == "talking" || data.status == "calling center answers"){
            out += "<td>" + startTimer(date) + "</td>";
        }
        else {
            out += "<td>not timing now</td>";
        }
        out += "</tr>";
    });
    out += "</tbody>";
    out += "</table>";
    $('#test').html(out);
}

function show_history_calls(){
    var calling_history_data = $.ajax({
        type: "get",
        url: "/calling_history_callback",
        async: false,
    }).responseText;
    var history_data = JSON.parse(calling_history_data);
    var history = "<table class='table-responsive table table-striped'><thead><tr><th>Caller Number</th><th>Caller Name</th>" + 
        "<th>Calling Time</th><th>Answer Number</th><th>Duartion</th><th>Status</th></tr></thead>";
    history += "<tbody>";    
    if (history_data != null){
        for (var i=0; i<history_data.length; i++){
            history += "<tr>";
            history += "<td class='number'>" + history_data[i].inbound_number + "</td>";
            history += "<td>" + history_data[i].caller_name + "</td>";
            var date = new Date(history_data[i].calling_time * 1000);
            history += "<td>" + timeFormat(date) + "</td>";
            history += "<td class='number'>" + history_data[i].answer_number + "</td>";
            history += "<td>" + secondsToHms(history_data[i].duration) + "</td>";
            history += "<td class='status'>" + history_data[i].status + "</td>";
            history += "</tr>";
        }
    }
    history += "</tbody>";  
    history += "</table>";
    $('#history').html(history);
}

</script>